Frontend/01_public Frontend/02_src Frontend/node_modules Frontend/public Frontend/src Frontend/.dockerignore Frontend/.env Frontend/.env.example Frontend/.gitignore Frontend/dockerfile Frontend/index.html Frontend/nginx.conf Frontend/package-lock.json Frontend/package.json Frontend/vite.config.js