@import '../../../styles/MediaQueries.css';
/* Conteneur principal du carousel */
.carousel {
  display: flex; /* Utilise flexbox */
  overflow: hidden; /* Cache les débordements */
  position: relative; /* Position relative pour les enfants */
  width: 100%; /* Largeur maximale */
  max-width: 100vw; /* Largeur maximale en viewport */
  height: 100px; /* Hauteur fixe */
  visibility: visible; /* Assure que le carousel reste visible */
}

/* Piste de défilement */
.carousel-track {
  display: flex; /* Utilise flexbox */
  transition: transform 0.5s ease; /* Transition fluide */
  gap: 10px; /* Espacement entre les éléments */
  width: auto; /* Largeur dynamique */
  animation: scroll var(--scroll-duration, 360s) linear infinite; /* Animation infinie */
}

/* Animation pour le défilement inversé */
.carousel-reverse .carousel-track {
  animation: scroll-reverse var(--scroll-duration, 320s) linear infinite;
}

/* Styles des éléments du carousel */
.carousel-item {
  flex: 0 0 auto; /* Taille fixe */
  width: 100px; /* Largeur fixe */
  height: 100px; /* Hauteur fixe */
  background-size: cover; /* Image en couverture */
  background-position: center; /* Centre l'image */
  display: flex; /* Utilise flexbox */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
}

.carousel-item img {
  width: 100%; /* L'image remplit la largeur du conteneur */
  height: 100%; /* L'image remplit la hauteur du conteneur */
  object-fit: cover; /* Maintient le ratio tout en remplissant le conteneur */
}

.carousel-item-visible {
  opacity: 1;
  transform: scale(1);
  display: block;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Ajusté pour un défilement fluide avec duplication */
  }
}

@keyframes scroll-reverse {
  0% {
    transform: translateX(-50%); /* Ajusté pour un défilement fluide avec duplication */
  }
  100% {
    transform: translateX(0);
  }
}

/* Vitesse personnalisée */
.carousel-speed-1 .carousel-track {
  --scroll-duration: 320s; /* Plus lent */
}

.carousel-speed-2 .carousel-reverse .carousel-track {
  --scroll-duration: 180s; /* Plus lent */
}

.carousel-speed-3 .carousel-track {
  --scroll-duration: 120s; /* Plus lent */
}

.fade-item {
  opacity: 0;
  visibility: hidden; /* Masque uniquement les items non visibles */
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.fade-item.visible {
  opacity: 1;
  visibility: visible; /* Affiche les items visibles */
}
